<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 72.2 MB/s eta 0:00:00:00:010:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159121 sha256=376dfa7e4164045b243b640db8b4d3fcd8a2caf222a61f190c3facf820483c3b
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/03/71/13/010faf12246f72dc76b4150e6e599d13a85b4435e06fb9e51f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

**Note:This below code is added to remove blank rows from table**

In [7]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"** . 

   

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [9]:
%sql SELECT DISTINCT Launch_Site FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'KSC'

In [10]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Task 1: Display the names of the unique launch sites in the space mission
cur.execute("SELECT DISTINCT Launch_Site FROM SPACEXTABLE;")
unique_launch_sites = cur.fetchall()
print("Unique Launch Sites:")
for site in unique_launch_sites:
    print(site[0])

# Task 2: Display 5 records where launch sites begin with the string 'KSC'
cur.execute("SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE 'KSC%' LIMIT 5;")
ksc_records = cur.fetchall()
print("\nRecords with Launch Sites beginning with 'KSC':")
for record in ksc_records:
    print(record)

# Close the connection
con.close()

Unique Launch Sites:
CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40

Records with Launch Sites beginning with 'KSC':
('2017-02-19', '14:39:00', 'F9 FT B1031.1', 'KSC LC-39A', 'SpaceX CRS-10', 2490, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)')
('2017-03-16', '6:00:00', 'F9 FT B1030', 'KSC LC-39A', 'EchoStar 23', 5600, 'GTO', 'EchoStar', 'Success', 'No attempt')
('2017-03-30', '22:27:00', 'F9 FT  B1021.2', 'KSC LC-39A', 'SES-10', 5300, 'GTO', 'SES', 'Success', 'Success (drone ship)')
('2017-05-01', '11:15:00', 'F9 FT B1032.1', 'KSC LC-39A', 'NROL-76', 5300, 'LEO', 'NRO', 'Success', 'Success (ground pad)')
('2017-05-15', '23:21:00', 'F9 FT B1034', 'KSC LC-39A', 'Inmarsat-5 F4', 6070, 'GTO', 'Inmarsat', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [11]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Task 3: Display the total payload mass carried by boosters launched by NASA (CRS)
cur.execute("""
    SELECT SUM(Payload_Mass__kg_) 
    FROM SPACEXTABLE 
    WHERE Customer LIKE 'NASA (CRS)%';
""")
total_payload_mass = cur.fetchone()[0]
print("Total Payload Mass carried by NASA (CRS) boosters:", total_payload_mass, "kg")

# Close the connection
con.close()

Total Payload Mass carried by NASA (CRS) boosters: 48213 kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [12]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Task: Display the average payload mass carried by booster version F9 v1.1
cur.execute("""
    SELECT AVG(Payload_Mass__kg_) 
    FROM SPACEXTABLE 
    WHERE Booster_Version = 'F9 v1.1';
""")
average_payload_mass = cur.fetchone()[0]
print("Average Payload Mass carried by booster version F9 v1.1:", average_payload_mass, "kg")

# Close the connection
con.close()

Average Payload Mass carried by booster version F9 v1.1: 2928.4 kg

### Task 5

##### List the date where the succesful landing outcome in drone ship was acheived.


_Hint:Use min function_

In [13]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Task: List the dates where the successful landing outcome in drone ship was achieved
cur.execute("""
    SELECT Date
    FROM SPACEXTABLE 
    WHERE Landing_Outcome = 'Success (drone ship)';
""")
landing_dates = cur.fetchall()
print("Dates of successful landing outcome on drone ship:")
for date in landing_dates:
    print(date[0])

# Close the connection
con.close()

Dates of successful landing outcome on drone ship:
2016-04-08
2016-05-06
2016-05-27
2016-08-14
2017-01-14
2017-03-30
2017-06-23
2017-06-25
2017-08-24
2017-10-09
2017-10-11
2017-10-30
2018-04-18
2018-05-11

### Task 6

##### List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

In [14]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Task: List the names of the boosters with success in ground pad and payload mass between 4000 and 6000 kg
cur.execute("""
    SELECT Booster_Version
    FROM SPACEXTABLE 
    WHERE Landing_Outcome = 'Success (ground pad)' 
    AND Payload_Mass__kg_ > 4000 
    AND Payload_Mass__kg_ < 6000;
""")
boosters = cur.fetchall()
print("Boosters with success in ground pad and payload mass between 4000 and 6000 kg:")
for booster in boosters:
    print(booster[0])

# Close the connection
con.close()

Boosters with success in ground pad and payload mass between 4000 and 6000 kg:
F9 FT B1032.1
F9 B4 B1040.1
F9 B4 B1043.1

### Task 7




##### List the total number of successful and failure mission outcomes

In [15]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Task: List the total number of successful and failed mission outcomes
cur.execute("""
    SELECT Mission_Outcome, COUNT(*)
    FROM SPACEXTABLE 
    GROUP BY Mission_Outcome;
""")
mission_outcomes = cur.fetchall()
print("Total number of successful and failed mission outcomes:")
for outcome, count in mission_outcomes:
    print(outcome, ":", count)

# Close the connection
con.close()

Total number of successful and failed mission outcomes:
Failure (in flight) : 1
Success : 98
Success  : 1
Success (payload status unclear) : 1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [16]:

import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Task 8: List the names of the booster_versions which have carried the maximum payload mass using a subquery
cur.execute("""
    SELECT Booster_Version
    FROM SPACEXTABLE 
    WHERE Payload_Mass__kg_ = (
        SELECT MAX(Payload_Mass__kg_) 
        FROM SPACEXTABLE
    );
""")
max_payload_boosters = cur.fetchall()
print("Booster Versions with maximum payload mass:")
for booster in max_payload_boosters:
    print(booster[0])

# Close the connection
con.close()

Booster Versions with maximum payload mass:
F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017
**Note: SQLLite does not support monthnames. So you need to use substr(Date,6,2) for month, substr(Date,9,2) for date, substr(Date,0,5),='2017' for year.**

In [17]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Task: List the records for successful landing outcomes in ground pad, booster versions, and launch sites for the months in year 2017
cur.execute("""
    SELECT 
        substr(Date, 6, 2) AS Month,
        Landing_Outcome,
        Booster_Version,
        Launch_Site
    FROM 
        SPACEXTABLE 
    WHERE 
        substr(Date, 0, 5) = '2017' AND
        Landing_Outcome = 'Success (ground pad)'
""")
records_2017 = cur.fetchall()
print("Records for successful landing outcomes in ground pad, booster versions, and launch sites for the months in year 2017:")
for record in records_2017:
    print(record)

# Close the connection
con.close()

Records for successful landing outcomes in ground pad, booster versions, and launch sites for the months in year 2017:
('02', 'Success (ground pad)', 'F9 FT B1031.1', 'KSC LC-39A')
('05', 'Success (ground pad)', 'F9 FT B1032.1', 'KSC LC-39A')
('06', 'Success (ground pad)', 'F9 FT B1035.1', 'KSC LC-39A')
('08', 'Success (ground pad)', 'F9 B4 B1039.1', 'KSC LC-39A')
('09', 'Success (ground pad)', 'F9 B4 B1040.1', 'KSC LC-39A')
('12', 'Success (ground pad)', 'F9 FT  B1035.2', 'CCAFS SLC-40')

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%203/LAB-String_Patterns_Sorting_Grouping.md.html">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>